<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<!-- replace everything below with: -->
{% block content %}

<div class="accordion" id="accordion_about">
    <section>
      <div class="row justify-content-center">
        <div class="col-12">
          {% for dropdown_item in self.dropdown %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    {{dropdown_item.label}}
                </button>
              </h2>
              <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{dropdown_item.content|richtext}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
</div>
{% endblock %}
