{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<!-- replace everything below with: -->
{% block content %}
  <div class="container-fluid p-0 mb-5">
      <section>{% include_block page.carousel %}</section>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        {{page.body|richtext}}
      </div>
      <div class="col-4">
        <h5 class="mb-2">Upcoming events</h5>
        <div class="card mb-4" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Event name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Event name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
