body {
  font-family: Roboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
wagtail-userbar {
  position: absolute;
}
.header_logo {
  max-width: 81px;
  display: block;
}
.header_companyname {
  font-size: 2.2rem;
}
.carousel-caption-home {
  z-index: 9;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.carousel-home, .carousel-home .carousel-inner {
  max-height: 500px;
}
.carousel-home .carousel-inner:before {
  content: '';
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.footer_logo {
  max-width: 50px;
}

img.left {float: left}
img.right {float: right; margin-left:2rem;}

.menu-header{
  max-width: calc(100% - 60px);
}

.card-img-small {
  height: 8rem;
  object-fit: cover;
}

@media (max-width: 991px) {

  .header_logo {
    max-width: 51px;
    display: block;
  }
  .header_companyname {
    font-size: 1.6rem;
    color: #fff
  }
}
@media (max-width: 575px) {

  .header_logo {
    max-width: 41px;
    display: block;
  }
  .header_companyname {
    font-size: 1rem;
  }
}
.warning_message p, .warning_message p a {
  margin-bottom : 0 !important;
  font-size: 0.8rem;
  color: #fff;
}
