{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<!-- replace everything below with: -->
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2>{{self.title}}</h2>
      <div class="text-success">
        <hr class="border border-primary border-2">
      </div>
    </div>
  </div>
</div>
    {% for block in self.content %}
      {% if block.block_type == 'section_carousel' %}
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
              {% include_block block %}
            </div>
          </div>
      </div>
      {% else %}
      <div class="container">
        <div class="row">
            <div class="col-12">
              {% include_block block %}
            </div>
          </div>
      </div>
      {% endif %}
    {% endfor %}
    <script type="text/javascript">
      if(window.location.pathname === '/library/') {
        window.location.href = window.location.href.replace(window.location.pathname, '') + '/library/plans-legislation/'
      }
    </script>
{% endblock %}
